* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
@font-face {
  font-family: "MuseoSlab300";
  src: url("./assets/fonts/Museo_Slab_300.otf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/Museo_Slab_300.otf");
}
@font-face {
  font-family: "MyridProRegular";
  src: url("./assets/fonts/Myriad\ Pro\ Regular.ttf");
}
