<div class="search">
    <div class="searchcontainer">
        <h1 class="searchheading">Gif Search</h1>
        <div class="inputwrapper">
            <input type="text" placeholder="What are you looking for?" class="searchbox" #gif
                (keyup.enter)="search(gif.value)" />
            <span class="input-group-addon">
                <i class="fa fa-search" aria-hidden="true"></i>

            </span>
        </div>


        <h3 class="subtext">You can search any gif with our search</h3>
        <p>
            Everything you need for your creative projects. websites, banners, presentations, magazines and advertising.
        </p>
    </div>
</div>